#table {
	position:absolute;
	left:0%;
	top:25%;
	width:100%;
	height:75%;
	z-index:1;
	padding-top: 0%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.table1 {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:20%;
	z-index:1;
	padding-top: 0%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
}

.table2 {
	position:absolute;
	left:0%;
	top:20%;
	width:100%;
	height:20%;
	z-index:1;
	padding-top: 0%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
}

.table3 {
	position:absolute;
	left:0%;
	top:40%;
	width:100%;
	height:20%;
	z-index:1;
	padding-top: 0%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.table4 {
	position:absolute;
	left:0%;
	top:60%;
	width:100%;
	height:20%;
	z-index:1;
	padding-top: 0%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.table5 {
	position:absolute;
	left:0%;
	top:80%;
	width:100%;
	height:20%;
	z-index:1;
	padding-top: 0%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#table .table1 .table1 hr {

}
#table .table1 .table1 {
	text-align: center;
}
